.container {
    margin: 40px auto;
    width: 60%;
    min-width: 800px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

.spoke-box {
    border: 1px dashed;
}

.spoke-box img {
    max-width: 100%;
}

.spoke-headline {
    font-size: 2em;
}

.spoke-text {
    font-size: 1.1em;
    line-height: 150%;
}

.back-to-hub {
    font-size: 1.2em;
    color: #0645AD;
}

.back-to-hub a {
    text-decoration: none;
    color: #0645AD;
}

.back-to-hub a:hover {
    text-decoration: underline;
}

.back-to-hub a::before {
    content: '←';
    padding-right: 3px;
}
